
body {
    background-image: url("https://rainbowfilter.io/images/filters/david-bowie/banner.png?v=2");
    background-size: 900px;
    background-repeat: no-repeat;
    
}

.david-bowie-tribute-summary-photo img {
    width: 500px;
    height: 700px;
}
a {
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.david-bowie-tribute-summary-info {
    display: flex;
    flex-direction: row;
}

.summaryinfo {
    flex-direction: column;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    opacity: 20%;
    padding-left: 20px;

    }

    .summaryp, .summaryul {
        align-self : center;
    }

    .summaryul {
        list-style-type: none;
        padding: 0px;
        
    }

    .summaryh1 {
        font-size: 35px;
        border-bottom: 3px solid red;
        margin-top: 40px;
        padding-top: 20px;
        
    }

li {
    list-style-type: none;
}
#newsfeedHead {
    display: flex;
    justify-content: center;
    border: 3px solid black;
}

.newsfeed {
    display: flex;
    justify-content: flex-start;
    flex-basis: 25%;
    padding: 25px;
    font-size: 20px;
    
}

.newsImg {
    width: 200px;
    height: 200px;
    padding: 25px;

}
