 

.nav {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 35px;
    background-image: linear-gradient(to bottom top, #e0e0e0, #9e9e9e); 
    border-radius: 12px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.nav > li:hover {

    /* background-color: rgb(248, 225, 160); */
    background-image: linear-gradient(to top, rgb(108, 128, 108) , rgb(235, 253, 235) );
    border-radius: 12px;
    box-shadow: 5px 10px #888888;
    


    font-size: 40px;
    background-color: #4cb69f;
    text-decoration: none;
    
}

.nav li {
    margin: 15px;

}

a {
    text-decoration: none;
    color: black;
    
    
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    border: 5px double red;
    padding: 10px;
}

    


    /* body{
    background-image: url("https://rainbowfilter.io/images/filters/david-bowie/banner.png?v=2");
    background-size: 900px;
    background-repeat: no-repeat;
    }
     */


.landingBody {
    /* background-image: url("https://rainbowfilter.io/images/filters/david-bowie/banner.png?v=2");
    background-size: 900px;
    background-repeat: no-repeat;
     */


     /* ADDED BG COLOR USED GRADIENT WE CAN REMOVE IF YOU WANT. - JD */
     background-image: linear-gradient(to bottom right, pink ,purple );
}

/* I THOUGHT A ROW LOOK FOR THE NAVBARS LOOKED BETTER. AGAIN STYLE CHOICE WE CAN CHANGE IF NECESSARY. -JD */

/* .navBars{





} */


.landingpage {
        display: flex;
        justify-content: center;
        background-image: url("https://rainbowfilter.io/images/filters/david-bowie/banner.png?v=2") ;
        background-size: 800px;
        background-repeat: no-repeat; 
        width: 1000px;
        height: 1000px;
        padding-left: 100px;
        margin-left: 50px;
        background-origin: content-box;
        margin-top: 10px;
        margin-bottom: 10px
        
}

.david-bowie-tribute-summary-photo img {
    width: 500px;
    height: 700px;
}


article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.david-bowie-tribute-summary-info {
    display: flex;
    flex-direction: row;
}

.summaryinfo {
    flex-direction: column;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    opacity: 20%;
    padding-left: 20px;

    }

    .summaryp, .summaryul {
        align-self : center;
    }

    .summaryul {
        list-style-type: none;
        padding: 0px;
        
    }

    .summaryh1 {
        font-size: 35px;
        border-bottom: 3px solid red;
        margin-top: 40px;
        padding-top: 20px;
        
    }

li {
    list-style-type: none;
    padding: 0px;
    
}

.summaryh1 {
    font-size: 35px;
    border-bottom: 3px solid red;
    margin-top: 40px;
    padding-top: 20px;
    
}

li {
list-style-type: none;
}

.newsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3d3d3f;
    padding: 10px;   
}

.newsfeedContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f8fd;
    
}

#newsfeedHead {

display: flex;
justify-content: center;
border: 3px solid black;
}

.newsfeed {
display: flex;
justify-content: flex-start;
align-content: flex-start
flex-basis: 25%;
padding: 25px;
font-size: 20px;

}

.newsImg {
width: 150px;
height: 150px;
padding: 25px;
}


   .newsText { 

    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #FFFFFF;
    background-color:  #f6f5f3x;
    margin: 5px;
    font-family: 'Hammersmith One', sans-serif;
}



.eventContainer {
    display: flex;
    flex-direction: column;
    background-color:  #a39274;
}

.clickForEvent {
    margin-left: 5px;
}



#eventHead {
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: #252523;
    border: 5px solid black;
    margin: 5px;
}

.newsfeed {
    border: 3px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    padding: 5px;
    margin: 10px;
    
}

.newsImg {
    border: 1px solid black;
    border-radius: 10%;
    width: 40%;
    height: 60%;
    padding: 2px;
    margin: 20px;
}

.eventImg {
    border: 1px solid black;
    border-radius: 10%;
    width: 40%;
    height: 60%;
    padding: 2px;
    margin: 20px;
} 



#personal__header--H1 {
        text-shadow: 1px 1px #a3a3a3;
        text-align: right;
        font-size: 35px;
        font-weight: bold;
        border-bottom: 3px solid red;
        margin-top: 40px;
        padding-top: 20px;
        padding-right: 100px
}


#personal__header--H2 {
    text-shadow: 1px 1px #a3a3a3;
    font-size: 1.5em;
    text-align: right;
    font-weight: bold;
   }

.personal__container {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}




.personal__info ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid red;
    padding: 5px;
    font-size: 20px;    
}

.personal__family {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 30%;
    border: 3px solid red;
    padding: 25px;
    font-size: 20px;

    }
    
    .personal__family p {
        border: 3px solid red; 
    }




/* JD CSS FOR CAREER PAGE CUSTOMIZED TO A FAULT IN SOME AREAS. BEM SYNTAX FOR CLASSES THAT I USED. - JD */

i {
    font-size: 40px;
    margin: 5px;
}

.rating {
   
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
}


/* JD CSS FOR CAREER PAGE CUSTOMIZED TO A FAULT IN SOME AREAS. BEM SYNTAX FOR CLASSES THAT I USED. - JD */

.bowie_Image_Container {

    display: flex;
    flex-flow: row;
    width: auto;
    justify-content: space-evenly;

}
 /* ROUNDED IMAGES AND TRIED MY BEST TO GET THEM TO FIT A LITTLE BETTER ON SCREEN. OVERALL I WAS HAPPY ON MY LAY OUT. */
.bowie_Image1 {
    height: 30%;
    width: 30%;
    border-radius: 12px;
    
}

.bowie_Image2 {
    height: 30%;
    width: 35%;
    border-radius: 12px;
}

.bowie_Image3 {
    height: 60%;
    width: 30%;
    border-radius: 12px;
}


/* STYLED MY MAIN HEADER I WANTED TO KEEP IN LINE WITH ASIA'S HEADER STYLE SO I USED HER HEADER AS STYLE GUIDE. JD */
.bowie_Career_H1 {

    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    font-size: 35px;
    border-bottom: 3px solid red;
    margin-top: 40px;
    padding-top: 20px;
    padding-right: 100px
    
}
/* INTRO PARAGRAPH STYLED. JD */
.bowie_Career_Intro {

    text-align: center;
    margin: 20px 20px 50px 20px;

}

/* I WANTED TO KEEP MOST OF MY LIST AND HEADER SEPERATE IN ORDER TO GIVE THE MODULARITY AND FLEXIBILITY ON SCREEN. -JD */
.bowie_Career_SkillList_Top{
    
    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    margin: 20px 40px 10px 20px;

}
/* SAME LIST SEPERATION. MOST LISTS SHARED SIMILAR STYLE CUES. -JD */
.bowie_Career_SkillList {

    text-align: right;
    margin: 0px 40px 10px 20px;
}
/* FOR SOME REASON I DECIDED TO USE THE TERM TOP INSTEAD OR TITLE OR HEADER TO FURTHER DIFFERENTIATE MYSELF FROM THE TEAMS CLASSES. -JD */
.bowie_Career_WorkList_Top {

    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    margin: 20px 40px 10px 20px;
}

.bowie_Career_WorkList {

    text-align: right;
    margin: 0px 40px 10px 20px;

}

.bowie_Career_LivedList_Top {

    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    margin: 20px 40px 10px 20px;

}

.bowie_Career_LivedList {

    text-align: right;
    margin: 0px 40px 10px 20px;


}

.bowie_Career_Collaborator_Top {

    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    margin: 20px 40px 10px 20px;

}

.bowie_Career_CollaboratorList {

    text-align: right;
    margin: 0px 40px 10px 20px;


}


.bowie_Career_Awards_Top {

    text-shadow: 1px 1px #a3a3a3;
    text-align: right;
    margin: 20px 40px 10px 20px;

}

.bowie_Career_AwardsList {

    text-align: right;
    margin: 0px 40px 10px 20px;


}


/* END OF CAREER CSS - JD */
footer,
footer a{
    margin: 10px;
}








